body {
  background-image: url('./hero-gradiant-bg.jpg');
  /* background-size: cover; */
  /* overflow: hidden; */

  color: #ffffff;
}

.artist-details {
  display: grid;
  grid-column-gap: 3vw;
  grid-template-columns: 30vw 20vw;
  margin-left: 9vw;
}

h1 {
  font: normal normal 600 10vh/5vh Sora;
  color: #e0d7d7;
}

h2 {
  text-align: left;
  font: normal normal normal 4vh/8vh Comfortaa;
  color: #ccbdbd;
}
.about {
  text-align: left;
  font: normal normal 300 2.8vh/4.5vh Comfortaa;
  color: #ccbdbd;
}

.show-collections {
  width: 12vw;
  padding: 2vh 0;
  margin-top: 2vh;
  box-shadow: 0px 15px 50px #0000004a;
  border: 1px solid #f6f6f7;
  text-align: center;
  font: normal normal medium 2vh/2vh Sora;
  border-radius: 6px;
  cursor: pointer;
  position: absolute;
}

.artist-picture {
  margin: 20px 0;
  margin-left: 100px;
  box-shadow: 0px 30px 60px #0000001a;
  height: 80vh;
  width: 45vw;
  /* position: absolute; */
}

.left {
  /* position: absolute; */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  /* padding-left: -5vw; */

  text-align: left;
  position: absolute;
  /* display: none; */
  /* display: inline-block; */
  list-style: none;
  background: #1e181b 0% 0% no-repeat padding-box;
  box-shadow: 0px 30px 60px #0000002f;
  /* margin-left: 36vw; */
  margin-top: 1vh;
  width: 12vw;
  /* padding-rig: 1vw; */
}

.drop-item {
  /* text-align: left; */
  margin-right: 2vw;
  margin-top: 2vh;

  margin-bottom: 2vh;
  color: #b8b8b8;
  border-bottom: 1px solid #b8b8b8;
}

.segments {
  margin-left: 25vw;
  margin-top: 25vh;
  margin-bottom: 25vh;
  max-width: 30vw;
}
.page-headlines {
  font: normal normal normal 40px/91px Sora;
  letter-spacing: 0.28px;
  color: #e0d7d7;
}

.segment-details {
  font: normal normal 300 20px/38px Comfortaa;
  color: #ccbdbd;
}

/* #coll {
  margin-top: 25vh;
  margin-bottom: 25vh;
} */
