body {
  background-image: url('./hero-gradiant-bg.jpg');
}
.App {
  text-align: center;
}
.nav {
  top: 0px;
  left: 0px;
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 1;
  font-family: 'Comfortaa', cursive;
  font-weight: normal;
  font-size: 18px;
  text-align: right;
  padding: 14px 0;
}
.nav-item {
  margin-left: 20px;
  font: normal normal normal 18px/52px Comfortaa;
  letter-spacing: 0px;
  color: #b8b8b8;
  opacity: 1;
}

.inquire-btn {
  font: normal normal normal 20px/28px Arial;
  /* font-family: Arial; */
  color: #ffffff;
  text-transform: capitalize;
  opacity: 1;
  background: transparent linear-gradient(79deg, #a53c7a 0%, #e24321 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 6px;
  margin-left: 20px;
  padding: 10px 8px;
  /* padding: 14px 0; */
}
#search {
  opacity: 1;
  margin-left: 20px;
}
