body {
  background-image: url('./hero-gradiant-bg.jpg');
  /* overflow: hidden; */
  color: #ffffff;
}

.nav {
  background: #000000 0% 0% no-repeat padding-box;
  font-family: 'Comfortaa', cursive;
  text-align: right;
  padding: 1vh 0;
}
.nav-item {
  margin-left: 1.8vw;
  font: normal normal normal 2.5vh/5vh Comfortaa;
  color: #b8b8b8;
  cursor: pointer;
}

.sign {
  margin-right: 20vw;
}
.inquire-btn {
  font: normal normal normal 2.5vh/5vh Arial;
  background: transparent linear-gradient(79deg, #a53c7a 0%, #e24321 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 6px;
  margin: 0 1vw;
  padding: 1.5vh 1vw;
  cursor: pointer;
}
#search {
  opacity: 1;
  margin-left: 1vw;
  cursor: pointer;
}

.artist-details {
  display: grid;
  grid-column-gap: 3vw;
  grid-template-columns: 30vw 20vw;
  margin-left: 9vw;
}

h1 {
  font: normal normal 600 10vh/5vh Sora;
  color: #e0d7d7;
}

h2 {
  text-align: left;
  font: normal normal normal 4vh/8vh Comfortaa;
  color: #ccbdbd;
}
.about {
  text-align: left;
  font: normal normal 300 2.8vh/4.5vh Comfortaa;
  color: #ccbdbd;
}

.show-collections {
  width: 12vw;
  padding: 2vh 0;
  margin-top: 2vh;
  box-shadow: 0px 15px 50px #0000004a;
  border: 1px solid #f6f6f7;
  text-align: center;
  font: normal normal medium 2vh/2vh Sora;
  border-radius: 6px;
  cursor: pointer;
}

.artist-picture {
  margin: 20px 0;
  margin-left: 100px;
  box-shadow: 0px 30px 60px #0000001a;
  height: 80vh;
  width: 45vw;
}

.left {
  position: relative;
}

.show-inquire {
  /* transition: 1s; */
  text-align: center;
  background-image: url('./hero-gradiant-bg.jpg');
  position: absolute;
  width: 40vw;
  height: 86vh;
  margin-left: 18vw;
  animation-name: enter-inquire;
  animation-duration: 0.5s;
}
@keyframes enter-inquire {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}

.icon-close {
  margin-top: 3.5vh;
  margin-right: 32vw;
  cursor: pointer;
}
.inquire-input {
  background: #f6f6f6c2 0% 0% no-repeat padding-box;
  border: 1px solid #747474;
  opacity: 0.45;
  /* text-align: left; */
  font: normal normal normal 2vh/2vh Comfortaa;
  text-transform: capitalize;
  opacity: 0.42;
  height: 5vh;
  margin-top: 2vh;
  font-weight: bold;
}
.separate {
  width: 20.5vw;
}
.inquire-input:focus {
  outline: none;
}

.information {
  /* text-align: left; */
  font: normal normal normal 2vh/3vh Sora;
  color: #f6f6f6;
}

.end-inquire-information {
  text-align: center;
  font: normal normal normal 1.3vh/2vh Comfortaa;
  color: #fbfbfb;
  opacity: 0.76;
  margin-top: 2vh;
}

.send-inquire {
  background: #c23f62 0% 0% no-repeat padding-box;
  font: normal normal bold 2vh/2vh Comfortaa;
  border: none;
  border-radius: 6px;
  width: 20.5vw;
  text-align: center;
  margin-top: 2vh;
  padding: 3vh 0;
  cursor: pointer;
}

.container-input {
  display: grid;
  grid-column-gap: 0.5vw;
  grid-template-columns: 10vw 10vw;
  margin-left: 9.5vw;
}

/* fix the text are input */
#ask-information-input {
  padding: 8vh 0;
  overflow: hidden;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  list-style: none;
  background: #1e181b 0% 0% no-repeat padding-box;
  box-shadow: 0px 30px 60px #0000002f;
  margin-left: 1vw;
  margin-top: 1vh;
  /* padding-rig: 1vw; */
}

.drop-item {
  /* text-align: left; */
  color: #b8b8b8;
}

.explore {
  background: transparent linear-gradient(103deg, #a53c7a 0%, #e24321 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 15px 50px #0000004a;
  border-radius: 7px;
  text-align: center;
  font-family: sora;
  font-size: 2vh;
  margin-top: 2vh;
  padding: 3vh 0;
  width: 15vw;
  border: none;
  cursor: pointer;
}

.segments {
  margin-left: 25vw;
  max-width: 30vw;
}
.page-headlines {
  font: normal normal normal 40px/91px Sora;
  letter-spacing: 0.28px;
  color: #e0d7d7;
}

.segment-details {
  font: normal normal 300 20px/38px Comfortaa;
  color: #ccbdbd;
}
#nft-picture {
  background-image: url('./hero\ nft.png');
  background-size: cover;
  min-height: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#nft-background {
  margin-left: 10vw;
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 0.7;
  backdrop-filter: blur(29px);
  -webkit-backdrop-filter: blur(29px);
  max-width: 40vw;
  padding-bottom: 5vh;
}
#nft-segment {
  margin-left: 5vw;
  max-width: 25vw;
}

#nft-headline {
  font: normal normal normal 6vh/10vh Sora;
  letter-spacing: 0.29px;
  color: #e0d7d7;
}

#nft-details {
  font: normal normal normal 2vh/3vh Comfortaa;
  color: #ccbdbd;
}

#nft-btn {
  text-align: center;
  font: normal normal normal 2.2vh/3vh Sora;
  letter-spacing: 0.44px;
  color: #ffffff;
  border: 1px solid #f6f6f7;
  border-radius: 6px;
  background-color: transparent;
  width: 18vw;
  padding: 2vh 0;
  margin-top: 2vh;
  cursor: pointer;
}
