.pic-collection {
  background-repeat: no-repeat;
  background-size: 100% 60vh, 100% 50vw;
  height: 60vh;
  width: 30vw;
}

.collection-name {
  font: normal normal normal 3vh/3vh Sora;
  color: #e0d7d7;
}

.embla__slide {
  position: relative;
  min-width: 50%;
  padding-left: 10px;
}

@media only screen and (max-width: 600px) {
  .embla__slide {
    min-width: 80vw;
  }

  .pic-collection {
    min-width: 80vw;
  }
}

.slide {
  margin-left: 10vw;
  margin-right: 10vw;
  cursor: grabbing;
}

button {
  display: none;
}
