.single-coll {
  margin: 8vh 0 0 9vw;
  height: 50vh;
  display: grid;
  grid-template-columns: 40vw 40vw;
}
.information-coll {
  background: #e0d7d7 0% 0% no-repeat padding-box;
  justify-content: center;
  padding-top: 10vh;
  padding-left: 5vw;
}

.title-coll {
  font: normal normal normal 3.8vh/7vh Sora;
  color: #000000;
}

.details-coll {
  padding-right: 6.5vw;
  font: normal normal normal 2.3vh/4vh Comfortaa;
  color: #000000;
  opacity: 0.85;
}

.btn-coll {
  text-decoration: underline;
  font: normal normal normal 2.8vh/5vh Sora;
  color: #000000;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 3vh;
}
.pic-roll {
  height: 50vh;
}

@media only screen and (max-width: 600px) {
  .single-coll {
    margin: 8vh 3vw 0 3vw;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr;
  }
  .information-coll {
    max-width: 80vw;
    /* margin-top: 30vh; */
  }
  .pic-roll {
    max-width: 85vw;
  }
}
