.nav {
  background: #000000 0% 0% no-repeat padding-box;
  font-family: 'Comfortaa', cursive;
  text-align: right;
  padding: 1vh 0;
  position: relative;
  display: grid;
  grid-template-columns: 5vw 90vw;
}
.nav-item {
  margin-left: 1.5vw;
  font: normal normal normal 2.5vh/5vh Comfortaa;
  color: #b8b8b8;
  cursor: pointer;
  max-width: 5vw;
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
.sign {
  max-height: 5vh;
  margin-left: 5vw;
}
.inquire-btn {
  font: normal normal normal 2.5vh/5vh Arial;
  background: transparent linear-gradient(79deg, #a53c7a 0%, #e24321 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 6px;
  margin: 0 1vw;
  padding: 1.5vh 1vw;
  cursor: pointer;
  padding-bottom: 1vh;
}
#search {
  opacity: 1;
  margin-left: 1vw;
  cursor: pointer;
}

.scroller {
  cursor: pointer;
  margin-left: 0.5vw;
  transition: 0.6s;
}

.up-scroller {
  transform: scaleY(-1);
}

.open-nav-mobile {
  display: none;
}

.close-nav-mobile {
  display: none;
}
.all-nav-mobile {
  display: none;
}
@media only screen and (max-width: 600px) {
  .mobile-nav-icon {
    width: 10vw;
    height: 0.5vh;
    background-color: white;
    margin: 1.3vh 0;
  }
  .open-nav-mobile,
  .close-nav-mobile {
    display: flex;
    justify-content: space-between;
  }

  .open,
  .close {
    margin-right: 5vw;
    margin-top: 2vh;
  }
  .close {
    margin-top: 3vh;
  }

  .all-nav-mobile {
    animation-name: nav-inquire;
    animation-duration: 1s;
    display: block;
    background-image: url('../hero-gradiant-bg.jpg');
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
  @keyframes nav-inquire {
    0% {
      -webkit-transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(0%);
    }
  }

  .exit-nav-animation {
    animation-name: nav-exit;
    animation-duration: 1s;
  }

  @keyframes nav-exit {
    0% {
      -webkit-transform: translateY(0%);
    }
    100% {
      -webkit-transform: translateY(-100%);
    }
  }

  .galy-sign-mobile {
    margin-left: 6vw;

    width: 12vw;
    height: 12vh;
  }

  .nav-mobile-items {
    text-align: center;
  }
  .nav-item-mobile {
    font: normal normal normal 2.5vh/5vh Comfortaa;
    color: #b8b8b8;
    cursor: pointer;
  }

  .exit-search {
    display: none;
  }
  .nav {
    display: none;
  }
}
