#nft-background {
  margin-left: 10vw;
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 0.72;
  max-width: 45vw;
  padding-bottom: 5vh;
  position: absolute;
  margin-top: 20vh;
  padding-right: 3vw;
}
#nft-segment {
  margin-left: 5vw;
  max-width: 30vw;
}

#nft-headline {
  font: normal normal normal 6vh/15vh Sora;
  letter-spacing: 0.29px;
  color: #e0d7d7;
}

#nft-details {
  font: normal normal normal 2vh/3vh Comfortaa;
  color: #ccbdbd;
}

#nft-btn {
  text-align: center;
  font: normal normal normal 2.2vh/3vh Sora;
  letter-spacing: 0.44px;
  color: #ffffff;
  border: 1px solid #f6f6f7;
  border-radius: 6px;
  background-color: transparent;
  width: 18vw;
  padding: 2vh 0;
  margin-top: 5vh;
  cursor: pointer;
}
#nft-picture {
  background-image: url('../hero\ nft.png');
  background-size: cover;
  min-height: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
