.search-total {
  display: grid;
  margin-left: 10vw;
  grid-template-columns: 70vw 5vw;
}

.search-input {
  /* position: absolute; */
  margin-left: 10vw;
  color: #b8b8b8;
  font: normal normal bold 2vh/2vh Comfortaa;
  opacity: 0.83;
  border: none;
  border-bottom: 1px solid #b8b8b8;
  background-color: transparent;
}

.search-input:focus {
  outline: none;
}

.exit-search {
  position: absolute;
  left: 0;
  margin-left: 15vw;
  padding-top: 5vh;
  position: absolute;
  cursor: pointer;
}
.single-result-bar {
  text-align: left;
  margin-top: 3vh;
  margin-left: 10vw;
  padding-bottom: 2vh;
  display: grid;
  grid-template-columns: 8vw 20vw;
  grid-column-gap: 3vw;
  border-bottom: 1px solid #7e7e7e;
}

.result-artwork {
  width: 6vw;
  height: 8vh;
}
.right-bar {
  margin-top: 4vh;
  font-size: 2vh;
}
.result-name {
  margin-bottom: 1vh;
}
.left-bar {
  margin-top: 2vh;
  margin-left: 2vw;
}

.search-headline {
  text-align: center;
  font: normal normal normal 6vh/5vh Sora;
  color: #fbfbfb;
}
@media only screen and (max-width: 600px) {
  .mobile-search {
    display: grid;
    grid-template-columns: 80vw 5vw;
    margin-bottom: 2vh;
  }
}
